.DS_Store
.classpath
.externalToolBuilders/
.idea/
.pc/
.project
.settings
MediaInfo.dll
MediaInfo64.dll
contrib/ffmpeg/build/
database/
debug.log
libmediainfo.dylib
maven-eclipse.xml
pms.iml
target/
src/main/external-resources/private-jre/*.zip
src/main/external-resources/private-jre/*.tar.gz
src/main/external-resources/transcode-tools/transcode-tools-*
src/main/external-resources/transcode-tools/linux/*
src/main/external-resources/transcode-tools/osx/*
src/main/external-resources/transcode-tools/win32/*
