.classpath
contrib/ffmpeg/build
database
debug.log
.DS_Store
.idea/
libmediainfo.dylib
MediaInfo64.dll
MediaInfo.dll
pms.iml
core/fonts
core/src/main/external-resources/plugins/*.jar
.project
.settings
target
.pc/
