Source: ps3mediaserver
Section: net
Priority: optional
Maintainer: I. Sokolov <happy.neko@gmail.com>
Build-Depends: debhelper (>= 8.0.0), ant, ant-contrib, openjdk-6-jdk, libtool, yasm (>= 1.0.0), unzip, automake, autoconf, binutils, pkg-config
Standards-Version: 3.9.2
Homepage: https://code.google.com/p/ps3mediaserver/

Package: ps3mediaserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, flac, imagemagick, openjdk-6-jre, ps3mediaserver-multiarch [amd64], libfreetype6 [i386], ttf-ubuntu-font-family
Description: DLNA Media Server
 PS3 Media Server is a DLNA compliant UPnP Media Server for the PS3 and other renderers, written in Java, 
 with the purpose of streaming or transcoding any kind of media files, with minimum configuration. 
 It's backed up with the powerful Mplayer/FFmpeg tools. 
